.hero {
    background-image: url('https://images.unsplash.com/photo-1558947530-cbcf6e9aeeae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fGhhcHB5JTIwZG9nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
}

.job-opportunities {
    background-image: url('https://images.unsplash.com/photo-1521791136064-7986c2920216?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80');
}

.tutoring {
    background-image: url('https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80');
}

.hero,
.tutoring,
.job-opportunities {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section{

    width: 100%;
    height: 85vh;
}